<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    .khmerfont {
        color: #3d3d3d;
        font-family: "khmer",helvetica,sans-serif;
        font-size: 16px;
        vertical-align: middle;
    }
</style>
<div th:replace="fragements/nav-fragement"></div>
<div th:each="article:${viewArticle}" class="container khmerfont">
    <div class="card">
        <img class="card-img-top" th:src="@{${article.imageUrl}}" width="150">
        <h5 class="card-title" th:text="${article.title}"></h5>
        <div class="card-body">
            <p class="card-text" th:text="${article.description}"></p>
        </div>
    </div>

</div>