<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    .khmerfont {
        color: #3d3d3d;
        font-family: "khmer",helvetica,sans-serif;
        font-size: 16px;
        vertical-align: middle;
    }
</style>

<div class="khmerfont" th:fragement="form-fragement">
    <div th:replace="fragements/nav-fragement"></div>
   <div class="container">
       <form th:object="${article}" method="post" th:action="@{/update/(id=${article.id})}">
           <div class="form-group">
               <label for="title">ចំណងជើង</label>
               <input type="text" th:value="${article.title}" class="form-control" name="title" id="title" placeholder="Enter title">
           </div>
           <div class="form-group">
               <label for="description">អត្ថបទ</label>
               <textarea class="form-control" type="text" th:field="${article.description}" name="description" id="description" rows="3"></textarea>
           </div>
           <div class="form-group">
               <input type="file" class="form-control-file" id="exampleFormControlFile1">
           </div>
           <button type="submit" class="btn btn-primary">រក្សាកំណែ</button>
       </form>
   </div>
</div>
