<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HRD Thymeleaf</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            color: #3d3d3d;
            font-family: "khmer",helvetica,sans-serif;
            font-size: 16px;
            vertical-align: middle;
        }
    </style>

</head>
<body >
<div >
    <div th:replace="fragements/nav-fragement"></div>
   <div class="container">
            <a th:href="@{/create}" class="btn btn-outline-primary"><span th:text="#{content.create}"></span></a>
       <div class="row">
           <div class="col">
               <table class="table table-bordered ">
                   <thead>
                   <tr>
                       <th scope="col">#</th>
                       <th scope="col">
                           <span th:text="#{content.tbName}"></span>
                       </th>
                       <th scope="col">
                           <span th:text="#{content.tbDescription}"></span>
                       </th>
                       <th scope="col">
                           <span th:text="#{content.tbImage}"></span>
                       </th>
                       <th scope="col"><span th:text="#{៉៉content.tbAction}"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="article:${articles}" >
                       <td th:text="${article.id}" class="align-middle text-center"></td>
                       <td th:text="${article.title}" class="align-middle text-center"></td>
                       <td th:text="${article.description}" class="align-middle text-center"></td>
                       <td class="align-middle text-center">
                           <img th:src="@{${article.imageUrl}}" width="150">
                       </td>
                       <td class="align-middle text-center">
                         <div>
                             <a th:href="@{/view/(id=${article.id})}" class="btn btn-outline-primary">
<!--                                 <span th:text="#{៉៉content.tbImage1}"></span>-->
                                 View
                             </a>
                             <a th:href="@{/update/(id=${article.id})}" class="btn btn-secondary">
<!--                                 <span th:text="#{៉៉content.tbImage2}"></span>-->
                                 Update
                             </a>
                             <a th:href="@{/delete/(id=${article.id})}" class="btn btn-danger">
                                 Delete
<!--                                 <span th:text="#{៉៉content.tbImage3}"></span>-->
                             </a>
                         </div>
                       </td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
</div>
</body>
</html>